/* Susan R. Miller
   MiU 1304 Week 1 */

*{font-family: Arial, Helvetica, sans-serif; font-size: 20;}

body {
    background-color: #9ACF50;
    width: 640px;
}

h1 {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 630px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    font-size: 24px;
    color: #6531FF;
    text-align: center;
    opacity: 0.8;

}

h2 {
    margin: 5px;
    padding: 5px;
    width: 610px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    color: #6531FF;
    text-align: left;
    opacity: 0.8;
}

ol {
    margin: 20px;
    padding: 0;
}

ol ul {
    padding: 0;
    list-style: none;

}

fieldset {
	margin: 10px;
    border: 1px dotted #ED4F35;
}

fieldset ul li {
    list-style: none;
}

legend {
    font-style: italic;
    font-size: 20px;
}

label {
    font-size: 20px;
    line-height: 1.5em;
}

option {
    font-size: 15px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

a.small {
    margin: 5px;
    padding: 2px;
    text-decoration: underline;
    color: #94145E;
    font-size: 15px;
}

p {
    padding-bottom: 10px;
}

p.input {
	margin: 5px;
	text-align: left;
	padding: 5px;
}

#choreform {
    margin: 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    opacity: 0.8;
}

#buttonRowTop {
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 630px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    color: white;
    text-align: center;
    opacity: 0.8;
}

#buttonRowBottom {
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 630px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    color: white;
    text-align: center;
    opacity: 0.8;
}

#data {
    margin: 0;
    padding: 0;
}

#errors {
    color: red;
    list-style: none;
    font-style: italic;
}

#doers {

}

.container {
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 630px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    color: #ED4F35;
    text-align: center;
    font-weight: lighter;
    opacity: 0.8;
}

.subcontainer {
	margin: 5px 15px 5px 15px;
	padding: 5px 15px 5px 15px;
	width: 100pt;
	border: 1px solid #94145E;
	background-color: #FFF2C9;
	text-align: left;
	opacity: 0.8;
}

.button {
    margin: 20px;
    padding: 5px;
    border: 2px solid #94145E;
    background-color: #94145E;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.item {
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid #94145E;
    background-color: #FFF2C9;
    opacity: 0.8;
}

